.box {
    position: relative;
    top: -100px;
    width: 100%;
    background: rgb(21,32,32);
    background: linear-gradient(180deg, rgba(21,32,32,1) 60%, rgba(0,0,0,1) 100%);
    padding-bottom: 70px;
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 2%;
}

.boxes {
    width: 300px;
    background-color: #174747;
    height: 100%;
    gap: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.boxes:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.bottomBox {
    width: 100%;
}

.bottomBox p {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.title-box {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    justify-content: center;
    color: rgb(214, 214, 214);
    padding: 25px 0px;
    padding-top: 45px;
    font-weight: bold;
}

.subTitle {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: rgb(214, 214, 214);
    font-weight: 100;
}

.icon-p {
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 50px;
    padding-top: 10px;
}

.descr {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    color: rgb(199, 199, 199);
    padding-bottom: 15px;
}

.a-learn-box {
    display: flex;
    margin-left: 33%;
    color: rgb(214, 214, 214);
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    transition: 0.5s;
}

.icon-right {
    position: relative;
    top: 3px;
    left: 5px;
}

.a-learn-box:hover {
    color: rgb(168, 168, 168);
    transition: 0.5s;
}